section {
  align-items: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section div {
  // flex: 1;
}

.logo-wrapper {
  text-align: center;
  max-width: 100%;
}

.description-wrapper {
  font-size: 120%;
}
