table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
  background-color: darkgray;
  line-height: 2;
}

tbody a {
  padding: 0 4px;
}

tbody tr:last-of-type td {
  padding-block: 1rem;
  padding-left: 1rem;
}

tbody tr:first-of-type td {
  padding-top: 1rem;
  padding-left: 1rem;
}

tbody tr:last-child {
  border-bottom: 2px solid darkgray;
}

tbody:nth-child(even) {
  background: lightgray;
}
tbody:nth-child(odd) {
  background: #fff;
}
